<form [formGroup]="userForm" class="form">
  <p>Form Reference Status</p>
  <pre>{{ userForm.status | json }}</pre>
  <pre>{{ userForm.value | json }}</pre>

  <div class="form-field">
    <label for="name">First Name</label>
    <input
      type="text"
      id="name"
      placeholder="Enter your name"
      formControlName="firstName"
    />

    <ng-container *ngIf="userForm.controls.firstName as firstName">
      <div
        *ngIf="
          firstName.touched ||
          (firstName.dirty && firstName.hasError('required'))
        "
        class="input-error"
      >
        This field is required
      </div>
      <div
        *ngIf="firstName.dirty && firstName.hasError('banWords')"
        class="input-error"
      >
        The value
        <strong>{{ firstName.getError("banWords").bannedWords }} </strong> is
        banned
      </div>
      <div
        *ngIf="firstName.dirty && firstName.hasError('minlength')"
        class="input-error"
      >
        The name must be at least
        <strong>{{ firstName.getError("minlength").requiredLength }} </strong
        >characters
      </div>
    </ng-container>
  </div>

  <div class="form-field">
    <label for="last-name">Last Name</label>
    <input
      type="text"
      id="last-name"
      placeholder="Enter your last name"
      formControlName="lastName"
    />

    <ng-container *ngIf="userForm.controls.lastName as lastName">
      <div
        *ngIf="
          lastName.touched || (lastName.dirty && lastName.hasError('required'))
        "
        class="input-error"
      >
        This field is required
      </div>

      <div
        *ngIf="lastName.dirty && lastName.hasError('minlength')"
        class="input-error"
      >
        The name must be at least
        <strong>{{ lastName.getError("minlength").requiredLength }}</strong>
        characters
      </div>
    </ng-container>
  </div>
</form>
