<form [formGroup]="userForm" class="form">
  <p>Form Reference Status</p>
  <pre>{{ userForm.status | json }}</pre>
  <pre>{{ userForm.value | json }}</pre>

  <div class="form-field">
    <label for="name">First Name</label>
    <input
      type="text"
      id="name"
      placeholder="Enter your name"
      formControlName="firstName"
    />

    <ng-container *ngIf="userForm.controls.firstName as firstName">
      <div
        *ngIf="firstName.dirty && firstName.hasError('required')"
        class="input-error"
      >
        This field is required
      </div>
      <div
        *ngIf="firstName.dirty && firstName.hasError('banWords')"
        class="input-error"
      >
        The value
        <strong>{{ firstName.getError("banWords").bannedWords }} </strong> is
        banned
      </div>
      <div
        *ngIf="firstName.dirty && firstName.hasError('minlength')"
        class="input-error"
      >
        The name must be at least
        <strong>{{ firstName.getError("minlength").requiredLength }} </strong
        >characters
      </div>
    </ng-container>
  </div>

  <div class="form-field">
    <label for="last-name">Last Name</label>
    <input
      type="text"
      id="last-name"
      placeholder="Enter your last name"
      formControlName="lastName"
    />

    <ng-container *ngIf="userForm.controls.lastName as lastName">
      <div
        *ngIf="lastName.dirty && lastName.hasError('required')"
        class="input-error"
      >
        This field is required
      </div>
      <div
        *ngIf="lastName.dirty && lastName.hasError('minlength')"
        class="input-error"
      >
        The name must be at least
        <strong>{{ lastName.getError("minlength").requiredLength }}</strong>
        characters
      </div>
    </ng-container>
  </div>

  <div class="form-field">
    <label for="nickname">Nickname</label>
    <input
      type="text"
      id="nickname"
      placeholder="Come up with a nickname"
      formControlName="nickname"
    />

    <ng-container *ngIf="userForm.controls.nickname as nickname">
      <div
        *ngIf="nickname.dirty && nickname.hasError('required')"
        class="input-error"
      >
        This field is required
      </div>
      <div
        *ngIf="nickname.dirty && nickname.hasError('uniqueName')"
        class="input-error"
      >
        This nickname is already taken
      </div>
      <div *ngIf="nickname.pending" class="input-info">
        Checking nickname...
      </div>
      <div
        *ngIf="nickname.dirty && nickname.hasError('minlength')"
        class="input-error"
      >
        The name must be at least
        <strong>{{ nickname.getError("minlength").requiredLength }}</strong>
        characters
      </div>
      <div
        *ngIf="nickname.dirty && nickname.hasError('pattern')"
        class="input-error"
      >
        Only letters, numbers, _ and . is allowed
      </div>
    </ng-container>
  </div>
</form>
