<header class="header">
  <img
    class="logo"
    src="https://angular.io/assets/images/logos/angular/shield-large.svg"
    height="60"
    alt="Angular must know"
  />

  <div class="nav">
    <a
      class="nav-link"
      routerLinkActive="active-link"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      >Template-Driven Forms</a
    >
    <a
      class="nav-link"
      routerLinkActive="active-link"
      routerLink="/reactive-forms"
      [routerLinkActiveOptions]="{ exact: true }"
      >Reactive Forms Forms</a
    >
    <a
      class="nav-link"
      routerLinkActive="active-link"
      routerLink="/reactive-list"
      [routerLinkActiveOptions]="{ exact: true }"
      >Reactive List Forms</a
    >
  </div>
</header>
