<form
  #form="ngForm"
  (reset)="onReset(form, $event)"
  (ngSubmit)="onSubmit(form, $event)"
  class="form"
>
  <p>Form Model Status</p>
  <pre>{{ userInfo | json }}</pre>
  <p>Form Template Reference Status</p>
  <pre>{{ form.value | json }}</pre>
  <div class="form-field">
    <label for="first-name">First Name</label>
    <input
      type="text"
      name="first-name"
      id="first-name"
      placeholder="Enter your name"
      [(ngModel)]="userInfo.firstName"
      #firstName="ngModel"
      minlength="2"
      required
    />
    <div
      *ngIf="firstName.dirty && firstName.hasError('required')"
      class="input-error"
    >
      This field is required!
    </div>
    <div
      *ngIf="firstName.dirty && firstName.hasError('minlength')"
      class="input-error"
    >
      The length should be at least
      <strong> {{ firstName.getError("minlength").requiredLength }} </strong>
      characters
    </div>
  </div>

  <div class="form-field">
    <label for="last-name">Last Name</label>
    <input
      type="text"
      name="last-name"
      id="last-name"
      placeholder="Enter your last name"
      [(ngModel)]="userInfo.lastName"
      #lastName="ngModel"
      minlength="2"
      required=""
    />
    <div
      *ngIf="lastName.dirty && lastName.hasError('required')"
      class="input-error"
    >
      This field is required!
    </div>
    <div
      *ngIf="lastName.dirty && lastName.hasError('minlength')"
      class="input-error"
    >
      The length should be at least
      <strong> {{ lastName.getError("minlength").requiredLength }}</strong>
      characters
    </div>
  </div>

  <div class="form-field">
    <label for="nickname">Nickname</label>
    <input
      type="text"
      name="nickname"
      id="nickname"
      placeholder="Come up with a nickname"
      [(ngModel)]="userInfo.nickname"
      #nickname="ngModel"
      minlength="3"
      required
      pattern="^[\w.]+$"
    />
    <div
      *ngIf="nickname.dirty && nickname.hasError('required')"
      class="input-error"
    >
      This field is required
    </div>
    <div
      *ngIf="nickname.dirty && nickname.hasError('minlength')"
      class="input-error"
    >
      The length should be at least
      <strong>{{ nickname.getError("minlength").requiredLength }}</strong>
      characters
    </div>
    <div
      *ngIf="nickname.dirty && nickname.hasError('pattern')"
      class="input-error"
    >
      Only letters, numbers, _ and . are allowed
    </div>
  </div>

  <div class="form-field">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Come up with a username"
      [(ngModel)]="userInfo.username"
      [ngModelOptions]="{ updateOn: 'blur' }"
      #username="ngModel"
      minlength="3"
      required
      pattern="^[\w.]+$"
      [appBannedWords]="bannedWords"
    />
  </div>

  <div
    *ngIf="username.dirty && username.hasError('appBannedWords')"
    class="input-error"
  >
    The value
    <strong>{{ username.getError("appBannedWords").bannedWord }}</strong> is not
    allowed!
  </div>

  <div
    *ngIf="username.dirty && username.hasError('appUniqueUsername')"
    class="input-error"
  >
    This username is taken
  </div>
  <!-- <div class="form-field">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Come up with a username"
      [(ngModel)]="userInfo.username"
      [ngModelOptions]="{ updateOn: 'blur' }"
      #username="ngModel"
      minlength="3"
      required
      pattern="^[\w.]+$"
      [appBannedWords]="isAdult ? bannedWords : []"
      appUniqueUsername
    />

    <div
      *ngIf="username.dirty && username.hasError('required')"
      class="input-error"
    >
      This field is required!
    </div>

    <div *ngIf="username.dirty && username.hasError('minlength')">
      The length should be at least
      <strong>{{ username.getError("minlength").requiredLength }}</strong>
      characters
    </div>

    <div
      *ngIf="username.dirty && username.hasError('pattern')"
      class="input-error"
    >
      Only letters, numbers, _ and . is allowed
    </div>

    



    <div *ngIf="username.pending" class="input-info">Checking...</div>
  </div> -->

  <P>{{ form.status | json }}</P>
</form>
