<form
  #form="ngForm"
  (reset)="onReset(form, $event)"
  (ngSubmit)="onSubmit(form, $event)"
  class="form"
>
  <p>Form Model Status</p>
  <pre>{{ userInfo | json }}</pre>
  <p>Form Template Reference Status</p>
  <pre>{{ form.value | json }}</pre>
  <div class="form-field">
    <label for="first-name">First Name</label>
    <input
      type="text"
      name="first-name"
      id="first-name"
      placeholder="Enter your name"
      [(ngModel)]="userInfo.firstName"
      #firstName="ngModel"
      minlength="2"
      required
    />
    <div
      *ngIf="firstName.dirty && firstName.hasError('required')"
      class="input-error"
    >
      This field is required!
    </div>
    <div
      *ngIf="firstName.dirty && firstName.hasError('minlength')"
      class="input-error"
    >
      The length should be at least
      <strong> {{ firstName.getError("minlength").requiredLength }} </strong>
      characters
    </div>
  </div>

  <div class="form-field">
    <label for="last-name">Last Name</label>
    <input
      type="text"
      name="last-name"
      id="last-name"
      placeholder="Enter your last name"
      [(ngModel)]="userInfo.lastName"
      #lastName="ngModel"
      minlength="2"
      required=""
    />
    <div
      *ngIf="lastName.dirty && lastName.hasError('required')"
      class="input-error"
    >
      This field is required!
    </div>
    <div
      *ngIf="lastName.dirty && lastName.hasError('minlength')"
      class="input-error"
    >
      The length should be at least
      <strong> {{ lastName.getError("minlength").requiredLength }}</strong>
      characters
    </div>
  </div>

  <div class="form-field">
    <label for="nickname">Nickname</label>
    <input
      type="text"
      name="nickname"
      id="nickname"
      placeholder="Come up with a nickname"
      [(ngModel)]="userInfo.nickname"
      #nickname="ngModel"
      minlength="3"
      required
      pattern="^[\w.]+$"
    />
    <div
      *ngIf="nickname.dirty && nickname.hasError('required')"
      class="input-error"
    >
      This field is required
    </div>
    <div
      *ngIf="nickname.dirty && nickname.hasError('minlength')"
      class="input-error"
    >
      The length should be at least
      <strong>{{ nickname.getError("minlength").requiredLength }}</strong>
      characters
    </div>
    <div
      *ngIf="nickname.dirty && nickname.hasError('pattern')"
      class="input-error"
    >
      Only letters, numbers, _ and . are allowed
    </div>
  </div>

  <div class="form-field">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Come up with a username"
      [(ngModel)]="userInfo.username"
      [ngModelOptions]="{ updateOn: 'blur' }"
      #username="ngModel"
      minlength="3"
      required
      pattern="^[\w.]+$"
      [appBannedWords]="isAdult ? bannedWords : []"
      appUniqueUsername
    />

    <div
      *ngIf="username.dirty && username.hasError('required')"
      class="input-error"
    >
      This field is required
    </div>

    <div
      *ngIf="username.dirty && username.hasError('minlength')"
      class="input-error"
    >
      the length should be at least
      <strong>{{ username.getError("minlength").requiredLength }}</strong>
      characters
    </div>

    <div
      *ngIf="username.dirty && username.hasError('pattern')"
      class="input-error"
    >
      Only letters, numbers, _ and . is allowed!
    </div>

    <div
      *ngIf="username.dirty && username.hasError('appBannedWords')"
      class="input-error"
    >
      The value
      <strong>{{ username.getError("appBannedWords").bannedWords }}</strong> is
      not allowed!
    </div>

    <div
      *ngIf="username.dirty && username.hasError('appUniqueUsername')"
      class="input-error"
    >
      This username is taken
    </div>
    <div *ngIf="username.pending" class="input-info">Checking...</div>
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Provide your email"
      [ngModel]="userInfo.email"
      #email="ngModel"
      email
      required
    />

    <div *ngIf="email.dirty && email.hasError('required')" class="input-error">
      This field is required!
    </div>

    <div *ngIf="email.dirty && email.hasError('email')" class="input-error">
      This field should be a valid email!
    </div>
  </div>

  <div class="form-field-inline-group">
    <div class="form-field form-field--small">
      <label for="year-of-birth">Year of birth</label>
      <select
        name="year-of-birth"
        id="year-of-birth"
        [(ngModel)]="userInfo.yearOfBirth"
        #yearOfBirth="ngModel"
        required
      >
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
      <div
        *ngIf="yearOfBirth.dirty && yearOfBirth.hasError('required')"
        class="input-error"
      >
        This field is required
      </div>
    </div>
  </div>

  <div class="form-field form-field--small">
    <label for="passport">Passport Number</label>
    <input
      type="text"
      name="passport"
      id="passport"
      [(ngModel)]="userInfo.passport"
      #passport="ngModel"
      pattern="^[A-Z]{2}[0-9]{6}$"
      [required]="isAdult"
      placeholder="Provide Passport Data"
    />

    <div
      *ngIf="passport.dirty && passport.hasError('pattern')"
      class="input-error"
    >
      Invalid passport number
    </div>
    <div
      *ngIf="passport.dirty && passport.hasError('required')"
      class="input-error"
    >
      Required for adults
    </div>
  </div>

  <fieldset ngModelGroup="address">
    <legend>Address</legend>
    <div class="form-field">
      <label for="full-address">Full Address</label>
      <input
        id="full-address"
        type="text"
        name="full-address"
        [(ngModel)]="userInfo.fullAddress"
        #fullAddress="ngModel"
        required
        placeholder="Street name and house number"
      />

      <div
        *ngIf="fullAddress.dirty && fullAddress.hasError('required')"
        class="input-error"
      >
        This field is required
      </div>
    </div>

    <div class="form-field">
      <label for="post-code">Post Code</label>
      <input
        type="number"
        name="post-code"
        id="post-code"
        [(ngModel)]="userInfo.postCode"
        #postCode="ngModel"
        required
        placeholder="Post code"
      />

      <div
        *ngIf="postCode.dirty && postCode.hasError('required')"
        class="input-error"
      >
        This field is required
      </div>
    </div>
  </fieldset>

  <fieldset ngModelGroup="password" appPasswordShouldMatch>
    <legend>User Password</legend>
    <div class="form-field">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        [(ngModel)]="userInfo.password"
        #password="ngModel"
        required
        minlength="6"
        placeholder="Enter user's password"
      />

      <div
        *ngIf="password.dirty && password.hasError('required')"
        class="input-error"
      >
        This field is required
      </div>

      <div
        *ngIf="password.dirty && password.hasError('minlength')"
        class="input-error"
      >
        The length should be at least
        <strong>{{ password.getError("minlength").requiredLength }}</strong>
        characters
      </div>

      <div class="form-field">
        <label for="confirm-password">Confirm password</label>
        <input
          id="confirm-password"
          type="password"
          name="confirm-password"
          [(ngModel)]="userInfo.confirmPassword"
          #confirmPassword="ngModel"
          required
          placeholder="Confirm the password"
        />

        <div
          *ngIf="confirmPassword.dirty && confirmPassword.hasError('required')"
          class="input-error"
        >
          This field is required
        </div>

        <div
          *ngIf="
            confirmPassword.dirty &&
            confirmPassword.hasError('appPasswordShouldMatch')
          "
          class="input-error"
        >
          Password doesn't match
        </div>

        <div
          *ngIf="confirmPassword.dirty && confirmPassword.hasError('minlength')"
          class="input-error"
        >
          The length should be at least
          <strong>{{
            confirmPassword.getError("minlength").requiredLength
          }}</strong>
          characters
        </div>
      </div>
    </div>
  </fieldset>

  <button [disabled]="form.invalid || form.pending" type="submit">Save</button>
  <button type="reset" class="reset-button">Reset</button>

  <P>{{ form.status | json }}</P>
</form>
